<header>
  <nav class="mt-10 mx-auto flex max-w-7xl items-center justify-center p-6 lg:px-8" aria-label="Global">
    <a href="<%= root_path %>" class="-m-1.5 p-1.5">
      <%= image_tag 'logo.png', alt: 'Logo', class: 'h-12 w-auto' %>
    </a>
  </nav>
</header>
